<html> <head> 
<link rel="stylesheet" type="text/css" href="http://<TMPL_VAR NAME="host" ESCAPE="NONE">/blog.css" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<TMPL_VAR NAME="feedurl" ESCAPE="NONE">" />
<title><TMPL_VAR NAME=blogname ESCAPE=NONE>: Login</title> </head> <body>
<TMPL_VAR NAME="blogbanner" ESCAPE="NONE">
<h1> Login DENIED !</h1>
<div class="pagebody">
<div class="postbody">

<p> You have been given the identity <TMPL_VAR NAME="username" ESCAPE="NONE"> !

</div>
</div>
</body>
</html>
