<html> <head> 
<link rel="stylesheet" type="text/css" href="http://<TMPL_VAR NAME="host" ESCAPE="NONE">/blog.css" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<TMPL_VAR NAME="feedurl" ESCAPE="NONE">" />
<title><TMPL_VAR NAME=blogname ESCAPE=NONE>: Login</title> </head> <body>
<TMPL_VAR NAME="blogbanner" ESCAPE="NONE">
<h1> Login successful </h1>
<div class="pagebody">
<div class="postbody">
<p>Welcome back <TMPL_VAR NAME="username" ESCAPE="NONE"> !

<P><a href="blog.cgi"> Return to home </a>

</div>
</div>
</body>
</html>
