<html> <head> 
<link rel="stylesheet" type="text/css" href="http://<TMPL_VAR NAME="host" ESCAPE="NONE">/blog.css" />
<title><TMPL_VAR NAME=blogname ESCAPE=NONE>: New Post : Preview</title> </head> <body>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<TMPL_VAR NAME="feedurl" ESCAPE="NONE">" />
<TMPL_VAR NAME="blogbanner" ESCAPE="NONE">

<h1> Preview New Post </h1>
<div class="pagebody">
<div class="postbody">

<P> The following is a <B>preview</B> of your post. To continue editting, skip down to
the edit box. To post, hit "save".

<table align="center" width="79%" border="1"><tr><td>

<h1> <TMPL_VAR NAME="posttitle" ESCAPE="HTML"></h1>

<p><i> Posted by <TMPL_VAR NAME="username" ESCAPE="NONE">, on <TMPL_VAR NAME="datetime" ESCAPE="NONE"></i>

<p><TMPL_VAR NAME="nodebody" ESCAPE="NONE"> <br />
<hr />
<form action="blog.cgi" method="post"> <input type="hidden" name="rm" value="savepost" />
<input type="hidden" name="title"    value='<TMPL_VAR NAME="posttitle" ESCAPE="NONE">'/>
<input type="hidden" name="nodebody" value='<TMPL_VAR NAME="nodebody" ESCAPE="URL">'/>
<input type="hidden" name="datetime" value='<TMPL_VAR NAME="datetime" ESCAPE="NONE">'/>

<h2>  <input type="submit"  value=">>> SAVE <<<"/></h2>
</form>
</td></tr></table>

<hr />
<h2> Continue Editting post </h2>
<form action="blog.cgi" method="post"> <input type="hidden" name="rm" value="preview" />
<p>Post Title: <input type="text" name="title" style="width: 89%" value='<TMPL_VAR NAME="posttitle" ESCAPE="HTML">'/>

<p> Post:
<textarea rows="7" style="width: 99%" name="nodebody">
<TMPL_VAR NAME="nodebody" ESCAPE="HTML">
</textarea>

<h2>  <input type="submit"  value=">>> PREVIEW <<<"/></h2>
</form>

</div>
</div>
</body>
</html>
