<html> <head> 
<link rel="stylesheet" type="text/css" href="http://<TMPL_VAR NAME="host" ESCAPE="NONE">/blog.css" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<TMPL_VAR NAME="feedurl" ESCAPE="NONE">" />
<script src="/dojo.js" type="text/javascript" ></script>
<script type="text/javascript">
    dojo.require("dojo.widget.Editor");
</script>

<title><TMPL_VAR NAME=blogname ESCAPE=NONE>: New Post</title> </head> <body>
<TMPL_VAR NAME="blogbanner" ESCAPE="NONE">

<H1> Create New Post</H1>
<div class="pagebody">
<div class="postbody">

<form action="blog.cgi" method="post"> <input type="hidden" name="rm" value="preview" />
<p>Post Title: <input type="text" name="title" style="width: 89%"/>

<p> Post:
<textarea style="width:99%; height: 400px" name="nodebody"
          dojoType="Editor" items="textGroup;blockGroup;justifyGroup;colorGroup;listGroup;indentGroup;linkGroup">

</textarea>

<P> <input type="submit"  value="preview"/>
</form>
</div>
</div>
</body>
</html>
